{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}
{%  block body %}
    <main class="px-3">
        <h1>Главная страница</h1>
        <p class="lead">Здесь будет какой-то контент</p>
    </main>
{% endblock %}
